@{
    ViewData["Title"] = "Marketwatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-cover">
    <div class="container-fluid">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th class="common-bg thead-font wten">Symbol</th>
                        <th class="common-bg thead-font wten">Bid</th>
                        <th class="common-bg thead-font wten">Ask</th>
                        <th class="common-bg thead-font wten">High</th>
                        <th class="common-bg thead-font wten">Low</th>
                        <th class="common-bg thead-font wten">Time</th>
                    </tr>
                </thead>
                <tbody class="mainProduct">
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>
<script src="~/adminjs/marketwatch.js"></script>