@model SL_Bullion.Models.ReferanceSymbol
<form asp-action="ReferanceEdit">
    <input type="hidden" asp-for="id" />
<div class="row">

    <div class="col-md-12 mt-2">
        <div class="comex-cover">
            <h6>Referance Products</h6>
            <table class="printReferance">
             
            </table>
        </div>
    </div>


</div>
</form>